*{
    margin: 0%;
    padding: 0%;
}
.container{
height: 100vh;
width: 100%;
background-image:url(back.png);
background-position: center;
background-size: cover;
padding-left: 5%;
padding-right: 5%;
box-sizing: border-box;
position: relative;
}